<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DevoxxFr webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GiveResponse</display-name>
    <servlet-name>GiveResponse</servlet-name>
    <servlet-class>fr.soat.devoxx.game.servlets.GiveResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveResponse</servlet-name>
    <url-pattern>/GiveResponse</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>AllQuestions</display-name>
    <servlet-name>AllQuestions</servlet-name>
    <servlet-class>fr.soat.devoxx.game.servlets.AllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllQuestions</servlet-name>
    <url-pattern>/AllQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>fr.soat.devoxx.game.servlets.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <display-name>devoxxFr-clientwebapp</display-name>  
</web-app>